/* Global Variables
/**  For Margin and Padding */
/**
 * Margin Utility Variables
 **/
/**
 * Padding Utility Variables
 **/
/**
 * Font Utilities
 */
/**
 *border utilities
 **/
/** For Block */
/*  Vertical Align */
/* Align Content  */
/* Margin and padding Sm size */
.m-xxs {
  margin: 2px; }

.m-t-xxs {
  margin-top: 2px; }

.m-r-xxs {
  margin-right: 2px; }

.m-l-xxs {
  margin-left: 2px; }

.m-b-xxs {
  margin-bottom: 2px; }

.m-x-xxs {
  margin: 0 2px; }

.m-y-xxs {
  margin: 2px 0; }

.m-xs {
  margin: 5px; }

.m-t-xs {
  margin-top: 5px; }

.m-r-xs {
  margin-right: 5px; }

.m-l-xs {
  margin-left: 5px; }

.m-b-xs {
  margin-bottom: 5px; }

.m-x-xs {
  margin: 0 5px; }

.m-y-xs {
  margin: 5px 0; }

.m-sm {
  margin: 10px; }

.m-t-sm {
  margin-top: 10px; }

.m-r-sm {
  margin-right: 10px; }

.m-l-sm {
  margin-left: 10px; }

.m-b-sm {
  margin-bottom: 10px; }

.m-x-sm {
  margin: 0 10px; }

.m-y-sm {
  margin: 10px 0; }

.m-md {
  margin: 15px; }

.m-t-md {
  margin-top: 15px; }

.m-r-md {
  margin-right: 15px; }

.m-l-md {
  margin-left: 15px; }

.m-b-md {
  margin-bottom: 15px; }

.m-x-md {
  margin: 0 15px; }

.m-y-md {
  margin: 15px 0; }

.m-lg {
  margin: 30px; }

.m-t-lg {
  margin-top: 30px; }

.m-r-lg {
  margin-right: 30px; }

.m-l-lg {
  margin-left: 30px; }

.m-b-lg {
  margin-bottom: 30px; }

.m-x-lg {
  margin: 0 30px; }

.m-y-lg {
  margin: 30px 0; }

.m-xlg {
  margin: 50px; }

.m-t-xlg {
  margin-top: 50px; }

.m-r-xlg {
  margin-right: 50px; }

.m-l-xlg {
  margin-left: 50px; }

.m-b-xlg {
  margin-bottom: 50px; }

.m-x-xlg {
  margin: 0 50px; }

.m-y-xlg {
  margin: 50px 0; }

.m-xxlg {
  margin: 100px; }

.m-t-xxlg {
  margin-top: 100px; }

.m-r-xxlg {
  margin-right: 100px; }

.m-l-xxlg {
  margin-left: 100px; }

.m-b-xxlg {
  margin-bottom: 100px; }

.m-x-xxlg {
  margin: 0 100px; }

.m-y-xxlg {
  margin: 100px 0; }

/* padding and padding Sm size */
.p-xxs {
  padding: 2px; }

.p-t-xxs {
  padding-top: 2px; }

.p-r-xxs {
  padding-right: 2px; }

.p-l-xxs {
  padding-left: 2px; }

.p-b-xxs {
  padding-bottom: 2px; }

.p-x-xxs {
  padding: 0 2px; }

.p-y-xxs {
  padding: 2px 0; }

.p-xs {
  padding: 5px; }

.p-t-xs {
  padding-top: 5px; }

.p-r-xs {
  padding-right: 5px; }

.p-l-xs {
  padding-left: 5px; }

.p-b-xs {
  padding-bottom: 5px; }

.p-x-xs {
  padding: 0 5px; }

.p-y-xs {
  padding: 5px 0; }

.p-sm {
  padding: 10px; }

.p-t-sm {
  padding-top: 10px; }

.p-r-sm {
  padding-right: 10px; }

.p-l-sm {
  padding-left: 10px; }

.p-b-sm {
  padding-bottom: 10px; }

.p-x-sm {
  padding: 0 10px; }

.p-y-sm {
  padding: 10px 0; }

.p-md {
  padding: 15px; }

.p-t-md {
  padding-top: 15px; }

.p-r-md {
  padding-right: 15px; }

.p-l-md {
  padding-left: 15px; }

.p-b-md {
  padding-bottom: 15px; }

.p-x-md {
  padding: 0 15px; }

.p-y-md {
  padding: 15px 0; }

.p-lg {
  padding: 30px; }

.p-t-lg {
  padding-top: 30px; }

.p-r-lg {
  padding-right: 30px; }

.p-l-lg {
  padding-left: 30px; }

.p-b-lg {
  padding-bottom: 30px; }

.p-x-lg {
  padding: 0 30px; }

.p-y-lg {
  padding: 30px 0; }

.p-xlg {
  padding: 50px; }

.p-t-xlg {
  padding-top: 50px; }

.p-r-xlg {
  padding-right: 50px; }

.p-l-xlg {
  padding-left: 50px; }

.p-b-xlg {
  padding-bottom: 50px; }

.p-x-xlg {
  padding: 0 50px; }

.p-y-xlg {
  padding: 50px 0; }

.p-xxlg {
  padding: 100px; }

.p-t-xxlg {
  padding-top: 100px; }

.p-r-xxlg {
  padding-right: 100px; }

.p-l-xxlg {
  padding-left: 100px; }

.p-b-xxlg {
  padding-bottom: 100px; }

.p-x-xxlg {
  padding: 0 100px; }

.p-y-xxlg {
  padding: 100px 0; }

.font-xs, .h6 {
  font-size: 0.67em; }

.font-sm, .h5 {
  font-size: 0.83em; }

.font-md, .h4 {
  font-size: 1em; }

.font-lg, .h3 {
  font-size: 1.17em; }

.font-xlg, .h2 {
  font-size: 1.5em; }

.font-xxlg, .h1 {
  font-size: 2em; }

.d-block, .block {
  display: block; }

.d-inline, .inline {
  display: inline; }

.d-none, .hide {
  display: none; }

.d-grid, .grid {
  display: grid; }

.d-inline-block, .inline-block {
  display: inline-block; }

.d-inline-grid, .inline-grid {
  display: inline-grid; }

.d-flex, .flex {
  display: flex; }

.d-inline-flex, .inline-flex {
  display: inline-flex; }

.d-table {
  display: table; }

.d-table-caption {
  display: table-caption; }

.d-table-cell {
  display: table-cell; }

.d-table-column {
  display: table-column; }

.d-table-column-group {
  display: table-column-group; }

.d-table.footer-group {
  display: table-footer-group; }

.d-table.header-group {
  display: table-header-group; }

.d-table-row {
  display: table-row; }

.d-table-row-group {
  display: table-row-group; }

.d-compact, .compact {
  display: compact; }

.d-list-item, .list-item {
  display: list-item; }

.b {
  border-width: 1px; }

.b-t {
  border-top-width: 1px; }

.b-r {
  border-right-width: 1px; }

.b-b {
  border-bottom-width: 1px; }

.b-l {
  border-left-width: 1px; }

.b-primary {
  border-color: #2e6da4; }

.b-success {
  border-color: #398439; }

.b-default {
  border-color: #ccc; }

.b-info {
  border-color: #269abc; }

.b-warning {
  border-color: #d58512; }

.b-danger {
  border-color: #d43f3a; }

.v-baseline {
  vertical-align: baseline; }

.v-sub {
  vertical-align: sub; }

.v-super {
  vertical-align: super; }

.v-top {
  vertical-align: top; }

.v-text-top {
  vertical-align: text-top; }

.v-middle {
  vertical-align: middle; }

.v-bottom {
  vertical-align: bottom; }

.v-text-bottom {
  vertical-align: text-bottom; }

/*  Content Align  */
.content-stretch {
  align-content: stretch; }

.content-centre, .content-center {
  align-content: center; }

.content-flex-start {
  align-content: flex-start; }

.content-flex-end {
  align-content: flex-end; }

.content-space-between {
  align-content: space-between; }

.content-space-around {
  align-content: space-around; }

.content-initial {
  align-content: initial; }

/*# sourceMappingURL=app.css.map */
