/* Global Variables
/**  For Margin and Padding */
/**
 * Margin Utility Variables
 **/
/**
 * Padding Utility Variables
 **/
/**
 * Font Utilities
 */
/**
 *border utilities
 **/
/** For Block */
/*  Vertical Align */
/* Align Content  */
/* Margin and padding Sm size */
.m-auto {
  margin: auto; }

.m-l-auto {
  margin-left: auto; }

.m-r-auto {
  margin-right: auto; }

.m-x-auto {
  margin-left: auto;
  margin-right: auto; }

.m-none {
  margin: 0; }

.m-t-none {
  margin-top: 0; }

.m-r-none {
  margin-right: 0; }

.m-b-none {
  margin-bottom: 0; }

.m-l-none {
  margin-left: 0; }

.m-x-none {
  margin-left: 0;
  margin-right: 0; }

.m-y-none {
  margin-top: 0;
  margin-bottom: 0; }

.m-xxs {
  margin: 2px; }

.m-t-xxs {
  margin-top: 2px; }

.m-r-xxs {
  margin-right: 2px; }

.m-l-xxs {
  margin-left: 2px; }

.m-b-xxs {
  margin-bottom: 2px; }

.m-x-xxs {
  margin-left: 2px;
  margin-right: 2px; }

.m-y-xxs {
  margin: 2px 0; }

.m-xs {
  margin: 5px; }

.m-t-xs {
  margin-top: 5px; }

.m-r-xs {
  margin-right: 5px; }

.m-l-xs {
  margin-left: 5px; }

.m-b-xs {
  margin-bottom: 5px; }

.m-x-xs {
  margin-left: 5px;
  margin-right: 5px; }

.m-y-xs {
  margin: 5px 0; }

.m-sm {
  margin: 10px; }

.m-t-sm {
  margin-top: 10px; }

.m-r-sm {
  margin-right: 10px; }

.m-l-sm {
  margin-left: 10px; }

.m-b-sm {
  margin-bottom: 10px; }

.m-x-sm {
  margin-left: 10px;
  margin-right: 10px; }

.m-y-sm {
  margin-top: 10px;
  margin-bottom: 10px; }

.m-md {
  margin: 15px; }

.m-t-md {
  margin-top: 15px; }

.m-r-md {
  margin-right: 15px; }

.m-l-md {
  margin-left: 15px; }

.m-b-md {
  margin-bottom: 15px; }

.m-x-md {
  margin-left: 15px;
  margin-right: 15px; }

.m-y-md {
  margin-top: 15px;
  margin-bottom: 15px; }

.m-lg {
  margin: 30px; }

.m-t-lg {
  margin-top: 30px; }

.m-r-lg {
  margin-right: 30px; }

.m-l-lg {
  margin-left: 30px; }

.m-b-lg {
  margin-bottom: 30px; }

.m-x-lg {
  margin-left: 30px;
  margin-right: 30px; }

.m-y-lg {
  margin-top: 30px;
  margin-bottom: 30px; }

.m-xlg {
  margin: 50px; }

.m-t-xlg {
  margin-top: 50px; }

.m-r-xlg {
  margin-right: 50px; }

.m-l-xlg {
  margin-left: 50px; }

.m-b-xlg {
  margin-bottom: 50px; }

.m-x-xlg {
  margin-left: 50px;
  margin-right: 50px; }

.m-y-xlg {
  margin-top: 50px;
  margin-bottom: 50px; }

.m-xxlg {
  margin: 100px; }

.m-t-xxlg {
  margin-top: 100px; }

.m-r-xxlg {
  margin-right: 100px; }

.m-l-xxlg {
  margin-left: 100px; }

.m-b-xxlg {
  margin-bottom: 100px; }

.m-x-xxlg {
  margin-left: 100px;
  margin-right: 100px; }

.m-y-xxlg {
  margin-top: 100px;
  margin-bottom: 100px; }

/* padding and padding Sm size */
.p-none {
  padding: 0; }

.p-t-none {
  padding-top: 0; }

.p-r-none {
  padding-right: 0; }

.p-b-none {
  padding-bottom: 0; }

.p-l-none {
  padding-left: 0; }

.p-x-none {
  padding-left: 0;
  padding-right: 0; }

.p-y-none {
  padding-top: 0;
  padding-bottom: 0; }

.p-xxs {
  padding: 2px; }

.p-t-xxs {
  padding-top: 2px; }

.p-r-xxs {
  padding-right: 2px; }

.p-l-xxs {
  padding-left: 2px; }

.p-b-xxs {
  padding-bottom: 2px; }

.p-x-xxs {
  padding: 0 2px; }

.p-y-xxs {
  padding: 2px 0; }

.p-xs {
  padding: 5px; }

.p-t-xs {
  padding-top: 5px; }

.p-r-xs {
  padding-right: 5px; }

.p-l-xs {
  padding-left: 5px; }

.p-b-xs {
  padding-bottom: 5px; }

.p-x-xs {
  padding: 0 5px; }

.p-y-xs {
  padding: 5px 0; }

.p-sm {
  padding: 10px; }

.p-t-sm {
  padding-top: 10px; }

.p-r-sm {
  padding-right: 10px; }

.p-l-sm {
  padding-left: 10px; }

.p-b-sm {
  padding-bottom: 10px; }

.p-x-sm {
  padding: 0 10px; }

.p-y-sm {
  padding: 10px 0; }

.p-md {
  padding: 15px; }

.p-t-md {
  padding-top: 15px; }

.p-r-md {
  padding-right: 15px; }

.p-l-md {
  padding-left: 15px; }

.p-b-md {
  padding-bottom: 15px; }

.p-x-md {
  padding: 0 15px; }

.p-y-md {
  padding: 15px 0; }

.p-lg {
  padding: 30px; }

.p-t-lg {
  padding-top: 30px; }

.p-r-lg {
  padding-right: 30px; }

.p-l-lg {
  padding-left: 30px; }

.p-b-lg {
  padding-bottom: 30px; }

.p-x-lg {
  padding: 0 30px; }

.p-y-lg {
  padding: 30px 0; }

.p-xlg {
  padding: 50px; }

.p-t-xlg {
  padding-top: 50px; }

.p-r-xlg {
  padding-right: 50px; }

.p-l-xlg {
  padding-left: 50px; }

.p-b-xlg {
  padding-bottom: 50px; }

.p-x-xlg {
  padding: 0 50px; }

.p-y-xlg {
  padding: 50px 0; }

.p-xxlg {
  padding: 100px; }

.p-t-xxlg {
  padding-top: 100px; }

.p-r-xxlg {
  padding-right: 100px; }

.p-l-xxlg {
  padding-left: 100px; }

.p-b-xxlg {
  padding-bottom: 100px; }

.p-x-xxlg {
  padding: 0 100px; }

.p-y-xxlg {
  padding: 100px 0; }

.font-xs, .h6 {
  font-size: 12px; }

.font-sm, .h5 {
  font-size: 14px; }

.font-md, .h4 {
  font-size: 18px; }

.font-lg, .h3 {
  font-size: 24px; }

.font-xlg, .h2 {
  font-size: 30px; }

.font-xxlg, .h1 {
  font-size: 36px; }

.text-primary {
  color: #2e6da4; }

.text-success {
  color: #398439; }

.text-info {
  color: #269abc; }

.text-default {
  color: #ccc; }

.text-warning {
  color: #d58512; }

.text-danger {
  color: #d43f3a; }

.b {
  border-width: 1px;
  border-style: solid; }

.b-t {
  border-top-width: 1px;
  border-style: solid; }

.b-r {
  border-right-width: 1px;
  border-style: solid; }

.b-b {
  border-bottom-width: 1px;
  border-style: solid; }

.b-l {
  border-left-width: 1px;
  border-style: solid; }

.b-primary {
  border-color: #2e6da4; }

.b-success {
  border-color: #398439; }

.b-default {
  border-color: #ccc; }

.b-info {
  border-color: #269abc; }

.b-warning {
  border-color: #d58512; }

.b-danger {
  border-color: #d43f3a; }

.bg-primary {
  background-color: #2e6da4; }

.bg-success {
  color: #398439; }

.bg-info {
  color: #269abc; }

.bg-warning {
  color: #d58512; }

.bg-default {
  color: #ccc; }

.bg-danger {
  color: #d43f3a; }

.p-relative {
  position: relative; }

.p-absolute {
  position: absolute; }

.p-fixed {
  position: fixed; }

.p-fixed {
  position: static; }

.w-10 {
  width: 10% !important; }

.w-20 {
  width: 20% !important; }

.w-25 {
  width: 25% !important; }

.w-30 {
  width: 30% !important; }

.w-40 {
  width: 40% !important; }

.w-50 {
  width: 50% !important; }

.w-60 {
  width: 60% !important; }

.w-70 {
  width: 70% !important; }

.w-75 {
  width: 75% !important; }

.w-80 {
  width: 80% !important; }

.w-90 {
  width: 90% !important; }

.w-100 {
  width: 100% !important; }

.w-xxs {
  width: 50px !important; }

.w-xs {
  width: 100px !important; }

.w-sm {
  width: 150px !important; }

.w-md {
  width: 300px !important; }

.w-lg {
  width: 500px !important; }

.w-xlg {
  width: 750px !important; }

.w-xlg {
  width: 750px !important; }

.w-xxlg {
  width: 900px !important; }

.t-bold {
  font-weight: bold; }

.t-regular {
  font-weight: 400; }

.t-italic {
  font-style: italic; }

.t-capital {
  text-transform: uppercase;
  letter-spacing: .25em; }

.t-left {
  text-align: left; }

.t-center {
  text-align: center; }

.t-right {
  text-align: right; }

.t-justify {
  text-align: justify; }

.t-no-wrap {
  white-space: nowrap; }

.t-underline {
  text-decoration: underline; }

.t-deco-none {
  text-decoration: none; }

.c-alice-blue 	{color: #f0f8ff;}
.c-antique-white  	{color: #faebd7;}
.c-aqua	 	{color: #00ffff;}
.c-aquamarine	{color: #7fffd4;}
.c-azure	 	{color: #f0ffff;}
.c-beige	 	{color: #f5f5dc;}
.c-bisque	 	{color: #ffe4c4;}
.c-black	 	{color: #000000;}
.c-blanched-almond	{color: #ffebcd;}
.c-blue	 	{color: #0000ff;}
.c-blue-violet  	{color: #8a2be2;}
.c-brown	 	{color: #a52a2a;}
.c-burly-wood	{color: #deb887;}
.c-cadet-blue	{color: #5f9ea0;}
.c-chartreuse	{color: #7fff00;}
.c-chocolate	{color: #d2691e;}
.c-coral	 	{color: #ff7f50;}
.c-cornflower-blue	{color: #6495ed;}
.c-cornsilk	{color: #fff8dc;}
.c-crimson	 	{color: #dc143c;}
.c-cyan	 	{color: #00ffff;}
.c-dark-blue	{color: #00008b;}
.c-dark-cyan	{color: #008b8b;}
.c-dark-golden-rod	{color: #b8860b;}
.c-dark-gray	{color: #a9a9a9;}
.c-dark-grey	{color: #a9a9a9;}
.c-dark-green	{color: #006400;}
.c-dark-khaki	{color: #bdb76b;}
.c-dark-magenta	{color: #8b008b;}
.c-dark-olive-green	{color: #556b2f;}
.c-dark-orange	{color: #ff8c00;}
.c-dark-orchid	{color: #9932cc;}
.c-dark-red	 	{color: #8b0000;}
.c-dark-salmon	{color: #e9967a;}
.c-dark-sea-green	{color: #8fbc8f;}
.c-dark-slate-blue	{color: #483d8b;}
.c-dark-slate-gray	{color: #2f4f4f;}
.c-dark-slate-grey	{color: #2f4f4f;}
.c-dark-turquoise	{color: #00ced1;}
.c-dark-violet	{color: #9400d3;}
.c-deep-pink	{color: #ff1493;}
.c-deep-sky-blue	{color: #00bfff;}
.c-dim-gray	 	{color: #696969;}
.c-dim-grey	 	{color: #696969;}
.c-dodger-blue	{color: #1e90ff;}
.c-fire-brick	{color: #b22222;}
.c-floral-white	{color: #fffaf0;}
.c-forest-green	{color: #228b22;}
.c-fuchsia	 	{color: #ff00ff;}
.c-gainsboro	{color: #dcdcdc;}
.c-ghost-white	{color: #f8f8ff;}
.c-gold	 	{color: #ffd700;}
.c-golden-rod	{color: #daa520;}
.c-gray	 	{color: #808080;}
.c-grey	 	{color: #808080;}
.c-green	 	{color: #008000;}
.c-green-yellow	{color: #adff2f;}
.c-honey-dew	{color: #f0fff0;}
.c-hot-pink	 	{color: #ff69b4;}
.c-indian-red	{color: #cd5c5c;}
.c-indigo	 	{color: #4b0082;}
.c-ivory	 	{color: #fffff0;}
.c-khaki	 	{color: #f0e68c;}
.c-lavender	{color: #e6e6fa;}
.c-lavender-blush	{color: #fff0f5;}
.c-lawn-green	{color: #7cfc00;}
.c-lemon-chiffon	{color: #fffacd;}
.c-light-blue	{color: #add8e6;}
.c-light-coral	{color: #f08080;}
.c-light-cyan	{color: #e0ffff;}
.c-light-golden-rod-yellow	 {color: #fafad2;}
.c-light-gray	{color: #d3d3d3;}
.c-light-grey	{color: #d3d3d3;}
.c-light-green	{color: #90ee90;}
.c-light-pink	{color: #ffb6c1;}
.c-light-salmon	{color: #ffa07a;}
.c-light-sea-green	{color: #20b2aa;}
.c-light-sky-blue	{color: #87cefa;}
.c-light-slate-gray	{color: #778899;}
.c-light-slate-grey	{color: #778899;}
.c-light-steel-blue	{color: #b0c4de;}
.c-light-yellow	{color: #ffffe0;}
.c-lime	 	{color: #00ff00;}
.c-lime-green	{color: #32cd32;}
.c-linen	 	{color: #faf0e6;}
.c-magenta	 	{color: #ff00ff;}
.c-maroon	 	{color: #800000;}
.c-medium-aqua-marine{color: #66cdaa;}
.c-medium-blue	{color: #0000cd;}
.c-medium-orchid	{color: #ba55d3;}
.c-medium-purple	{color: #9370db;}
.c-medium-sea-green	{color: #3cb371;}
.c-medium-slate-blue	{color: #7b68ee;}
.c-medium-spring-green {color: #00fa9a;}
.c-medium-turquoise	{color: #48d1cc;}
.c-medium-violet-red	{color: #c71585;}
.c-midnight-blue	{color: #191970;}
.c-mint-cream	{color: #f5fffa;}
.c-misty-rose	{color: #ffe4e1;}
.c-moccasin	{color: #ffe4b5;}
.c-navajo-white	{color: #ffdead;}
.c-navy	 	{color: #000080;}
.c-old-lace	 	{color: #fdf5e6;}
.c-olive	 	{color: #808000;}
.c-olive-drab	{color: #6b8e23;}
.c-orange	 	{color: #ffa500;}
.c-orange-red	{color: #ff4500;}
.c-orchid	 	{color: #da70d6;}
.c-pale-golden-rod	{color: #eee8aa;}
.c-pale-green	{color: #98fb98;}
.c-pale-turquoise	{color: #afeeee;}
.c-pale-violet-red	{color: #db7093;}
.c-papaya-whip	{color: #ffefd5;}
.c-peach-puff	{color: #ffdab9;}
.c-peru	 	{color: #cd853f;}
.c-pink	 	{color: #ffc0cb;}
.c-plum	 	{color: #dda0dd;}
.c-powder-blue	{color: #b0e0e6;}
.c-purple	 	{color: #800080;}
.c-rebecca-purple	{color: #663399;}
.c-red		{color: #ff0000;}
.c-rosy-brown	{color: #bc8f8f;}
.c-royal-blue	{color: #4169e1;}
.c-saddle-brown	{color: #8b4513;}
.c-salmon	 	{color: #fa8072;}
.c-sandy-brown	{color: #f4a460;}
.c-sea-green	{color: #2e8b57;}
.c-sea-shell	{color: #fff5ee;}
.c-sienna	 	{color: #a0522d;}
.c-silver	 	{color: #c0c0c0;}
.c-sky-blue	 	{color: #87ceeb;}
.c-slate-blue	{color: #6a5acd;}
.c-slate-gray	{color: #708090;}
.c-slate-grey	{color: #708090;}
.c-snow	 	{color: #fffafa;}
.c-spring-green	{color: #00ff7f;}
.c-steel-blue	{color: #4682b4;}
.c-tan	 	{color: #d2b48c;}
.c-teal	 	{color: #008080;}
.c-thistle	 	{color: #d8bfd8;}
.c-tomato	 	{color: #ff6347;}
.c-turquoise	{color: #40e0d0;}
.c-violet	 	{color: #ee82ee;}
.c-wheat	 	{color: #f5deb3;}
.c-white	 	{color: #ffffff;}
.c-white-smoke	{color: #f5f5f5;}
.c-yellow	 	{color: #ffff00;}
.c-yellow-green	{color: #9acd32;}

/*# sourceMappingURL=app.css.map */
