.b {
  border-width: $border-width;
  border-style: solid;
}

.b-t {
  border-top-width: $border-width;
  border-style: solid;
}

.b-r {
  border-right-width: $border-width;
  border-style: solid;
}

.b-b {
  border-bottom-width: $border-width;
  border-style: solid;
}

.b-l {
  border-left-width: $border-width;
  border-style: solid;
}

.b-primary {
  border-color: $primary-color;
}

.b-success {
  border-color: $success-color;
}

.b-default {
  border-color: $default-color;
}

.b-info {
  border-color: $info-color;
}

.b-warning {
  border-color: $warning-color;
}

.b-danger {
  border-color: $danger-color;
}