.bg-primary {
  background-color: $primary-color;
}

.bg-success {
  color: $success-color;
}

.bg-info {
  color: $info-color;
}

.bg-warning {
  color: $warning-color;
}

.bg-default {
  color: $default-color;
}

.bg-danger {
  color: $danger-color;
}