.font-xs, .h6 {
  font-size: $h6-font;
}

.font-sm, .h5 {
  font-size: $h5-font;
}

.font-md, .h4 {
  font-size: $h4-font;
}

.font-lg, .h3 {
  font-size: $h3-font;
}

.font-xlg, .h2 {
  font-size: $h2-font;
}

.font-xxlg, .h1 {
  font-size: $h1-font;
}

.text-primary {
  color: $primary-color;
}

.text-success {
  color: $success-color;
}

.text-info {
  color: $info-color;
}

.text-default {
  color: $default-color;
}

.text-warning {
  color: $warning-color;
}

.text-danger {
  color: $danger-color;
}