/* Margin and padding Sm size */

//Common
.m-auto {
  margin: auto;
}

.m-l-auto {
  margin-left: auto
}

.m-r-auto {
  margin-right: auto
}

.m-x-auto {
  margin-left: auto;
  margin-right: auto;
}

//None
.m-none {
  margin: 0;
}

.m-t-none {
  margin-top: 0;
}

.m-r-none {
  margin-right: 0;
}

.m-b-none {
  margin-bottom: 0;
}

.m-l-none {
  margin-left: 0;
}

.m-x-none {
  margin-left: 0;
  margin-right: 0;
}

.m-y-none {
  margin-top: 0;
  margin-bottom: 0;
}

//xss
.m-xxs {
  margin: $m-xxs;
}

.m-t-xxs {
  margin-top: $m-xxs;
}

.m-r-xxs {
  margin-right: $m-xxs;
}

.m-l-xxs {
  margin-left: $m-xxs;
}

.m-b-xxs {
  margin-bottom: $m-xxs;
}

.m-x-xxs {
  margin-left: $m-xxs;
  margin-right: $m-xxs;
}

.m-y-xxs {
  margin: $m-xxs 0;
}

//xs
.m-xs {
  margin: $m-xs;
}

.m-t-xs {
  margin-top: $m-xs;
}

.m-r-xs {
  margin-right: $m-xs;
}

.m-l-xs {
  margin-left: $m-xs;
}

.m-b-xs {
  margin-bottom: $m-xs;
}

.m-x-xs {
  margin-left: $m-xs;
  margin-right: $m-xs;
}

.m-y-xs {
  margin: $m-xs 0;
}

//sm
.m-sm {
  margin: $m-sm;
}

.m-t-sm {
  margin-top: $m-sm;
}

.m-r-sm {
  margin-right: $m-sm;
}

.m-l-sm {
  margin-left: $m-sm;
}

.m-b-sm {
  margin-bottom: $m-sm;
}

.m-x-sm {
  margin-left: $m-sm;
  margin-right: $m-sm;
}

.m-y-sm {
  margin-top: $m-sm;
  margin-bottom: $m-sm;
}

//md
.m-md {
  margin: $m-md;
}

.m-t-md {
  margin-top: $m-md;
}

.m-r-md {
  margin-right: $m-md;
}

.m-l-md {
  margin-left: $m-md;
}

.m-b-md {
  margin-bottom: $m-md;
}

.m-x-md {
  margin-left: $m-md;
  margin-right: $m-md;
}

.m-y-md {
  margin-top: $m-md;
  margin-bottom: $m-md;
}

//lg
.m-lg {
  margin: $m-lg;
}

.m-t-lg {
  margin-top: $m-lg;
}

.m-r-lg {
  margin-right: $m-lg;
}

.m-l-lg {
  margin-left: $m-lg;
}

.m-b-lg {
  margin-bottom: $m-lg;
}

.m-x-lg {
  margin-left: $m-lg;
  margin-right: $m-lg;
}

.m-y-lg {
  margin-top: $m-lg;
  margin-bottom: $m-lg;
}

//xlg
.m-xlg {
  margin: $m-xlg;
}

.m-t-xlg {
  margin-top: $m-xlg;
}

.m-r-xlg {
  margin-right: $m-xlg;
}

.m-l-xlg {
  margin-left: $m-xlg;
}

.m-b-xlg {
  margin-bottom: $m-xlg;
}

.m-x-xlg {
  margin-left: $m-xlg;
  margin-right: $m-xlg;
}

.m-y-xlg {
  margin-top: $m-xlg;
  margin-bottom: $m-xlg;
}

//xxlg
.m-xxlg {
  margin: $m-xxlg;
}

.m-t-xxlg {
  margin-top: $m-xxlg;
}

.m-r-xxlg {
  margin-right: $m-xxlg;
}

.m-l-xxlg {
  margin-left: $m-xxlg;
}

.m-b-xxlg {
  margin-bottom: $m-xxlg;
}

.m-x-xxlg {
  margin-left: $m-xxlg;
  margin-right: $m-xxlg;
}

.m-y-xxlg {
  margin-top: $m-xxlg;
  margin-bottom: $m-xxlg;
}