/* Margin and padding Sm size */

//xss
.m-xxs {
  margin: $m-xxs;
}

.m-t-xxs {
  margin-top: $m-xxs;
}

.m-r-xxs {
  margin-right: $m-xxs;
}

.m-l-xxs {
  margin-left: $m-xxs;
}

.m-b-xxs {
  margin-bottom: $m-xxs;
}

.m-x-xxs {
  margin: 0 $m-xxs;
}

.m-y-xxs {
  margin: $m-xxs 0;
}

//xs
.m-xs {
  margin: $m-xs;
}

.m-t-xs {
  margin-top: $m-xs;
}

.m-r-xs {
  margin-right: $m-xs;
}

.m-l-xs {
  margin-left: $m-xs;
}

.m-b-xs {
  margin-bottom: $m-xs;
}

.m-x-xs {
  margin: 0 $m-xs;
}

.m-y-xs {
  margin: $m-xs 0;
}

//sm
.m-sm {
  margin: $m-sm;
}

.m-t-sm {
  margin-top: $m-sm;
}

.m-r-sm {
  margin-right: $m-sm;
}

.m-l-sm {
  margin-left: $m-sm;
}

.m-b-sm {
  margin-bottom: $m-sm;
}

.m-x-sm {
  margin: 0 $m-sm;
}

.m-y-sm {
  margin: $m-sm 0;
}

//md
.m-md {
  margin: $m-md;
}

.m-t-md {
  margin-top: $m-md;
}

.m-r-md {
  margin-right: $m-md;
}

.m-l-md {
  margin-left: $m-md;
}

.m-b-md {
  margin-bottom: $m-md;
}

.m-x-md {
  margin: 0 $m-md;
}

.m-y-md {
  margin: $m-md 0;
}


//lg
.m-lg {
  margin: $m-lg;
}

.m-t-lg {
  margin-top: $m-lg;
}

.m-r-lg {
  margin-right: $m-lg;
}

.m-l-lg {
  margin-left: $m-lg;
}

.m-b-lg {
  margin-bottom: $m-lg;
}

.m-x-lg {
  margin: 0 $m-lg;
}

.m-y-lg {
  margin: $m-lg 0;
}


//xlg
.m-xlg {
  margin: $m-xlg;
}

.m-t-xlg {
  margin-top: $m-xlg;
}

.m-r-xlg {
  margin-right: $m-xlg;
}

.m-l-xlg {
  margin-left: $m-xlg;
}

.m-b-xlg {
  margin-bottom: $m-xlg;
}

.m-x-xlg {
  margin: 0 $m-xlg;
}

.m-y-xlg {
  margin: $m-xlg 0;
}


//xxlg
.m-xxlg {
  margin: $m-xxlg;
}

.m-t-xxlg {
  margin-top: $m-xxlg;
}

.m-r-xxlg {
  margin-right: $m-xxlg;
}

.m-l-xxlg {
  margin-left: $m-xxlg;
}

.m-b-xxlg {
  margin-bottom: $m-xxlg;
}

.m-x-xxlg {
  margin: 0 $m-xxlg;
}

.m-y-xxlg {
  margin: $m-xxlg 0;
}