/* padding and padding Sm size */

//None
.p-none {
  padding: 0;
}

.p-t-none {
  padding-top: 0;
}

.p-r-none {
  padding-right: 0;
}

.p-b-none {
  padding-bottom: 0;
}

.p-l-none {
  padding-left: 0;
}

.p-x-none {
  padding-left: 0;
  padding-right: 0;
}

.p-y-none {
  padding-top: 0;
  padding-bottom: 0;
}

//xss
.p-xxs {
  padding: $p-xxs;
}

.p-t-xxs {
  padding-top: $p-xxs;
}

.p-r-xxs {
  padding-right: $p-xxs;
}

.p-l-xxs {
  padding-left: $p-xxs;
}

.p-b-xxs {
  padding-bottom: $p-xxs;
}

.p-x-xxs {
  padding: 0 $p-xxs;
}

.p-y-xxs {
  padding: $p-xxs 0;
}

//xs
.p-xs {
  padding: $p-xs;
}

.p-t-xs {
  padding-top: $p-xs;
}

.p-r-xs {
  padding-right: $p-xs;
}

.p-l-xs {
  padding-left: $p-xs;
}

.p-b-xs {
  padding-bottom: $p-xs;
}

.p-x-xs {
  padding: 0 $p-xs;
}

.p-y-xs {
  padding: $p-xs 0;
}

//sm
.p-sm {
  padding: $p-sm;
}

.p-t-sm {
  padding-top: $p-sm;
}

.p-r-sm {
  padding-right: $p-sm;
}

.p-l-sm {
  padding-left: $p-sm;
}

.p-b-sm {
  padding-bottom: $p-sm;
}

.p-x-sm {
  padding: 0 $p-sm;
}

.p-y-sm {
  padding: $p-sm 0;
}

//md
.p-md {
  padding: $p-md;
}

.p-t-md {
  padding-top: $p-md;
}

.p-r-md {
  padding-right: $p-md;
}

.p-l-md {
  padding-left: $p-md;
}

.p-b-md {
  padding-bottom: $p-md;
}

.p-x-md {
  padding: 0 $p-md;
}

.p-y-md {
  padding: $p-md 0;
}

//lg
.p-lg {
  padding: $p-lg;
}

.p-t-lg {
  padding-top: $p-lg;
}

.p-r-lg {
  padding-right: $p-lg;
}

.p-l-lg {
  padding-left: $p-lg;
}

.p-b-lg {
  padding-bottom: $p-lg;
}

.p-x-lg {
  padding: 0 $p-lg;
}

.p-y-lg {
  padding: $p-lg 0;
}

//xlg
.p-xlg {
  padding: $p-xlg;
}

.p-t-xlg {
  padding-top: $p-xlg;
}

.p-r-xlg {
  padding-right: $p-xlg;
}

.p-l-xlg {
  padding-left: $p-xlg;
}

.p-b-xlg {
  padding-bottom: $p-xlg;
}

.p-x-xlg {
  padding: 0 $p-xlg;
}

.p-y-xlg {
  padding: $p-xlg 0;
}

//xxlg
.p-xxlg {
  padding: $p-xxlg;
}

.p-t-xxlg {
  padding-top: $p-xxlg;
}

.p-r-xxlg {
  padding-right: $p-xxlg;
}

.p-l-xxlg {
  padding-left: $p-xxlg;
}

.p-b-xxlg {
  padding-bottom: $p-xxlg;
}

.p-x-xxlg {
  padding: 0 $p-xxlg;
}

.p-y-xxlg {
  padding: $p-xxlg 0;
}