.t-bold {  font-weight: bold;  }
.t-regular {  font-weight: 400;  }
.t-italic {  font-style: italic;  }
.t-capital { text-transform: uppercase;  letter-spacing: .25em;  }
.t-left { text-align: left  }
.t-center { text-align: center  }
.t-right { text-align: right  }
.t-justify { text-align: justify  }
.t-no-wrap { white-space: nowrap  }
.t-underline { text-decoration: underline  }
.t-deco-none { text-decoration: none  }