/* Global Variables
/**  For Margin and Padding */

@import './margin.variable';
@import './padding.variable';
@import './font.variable';
@import './border.variable';
@import './color.variable';
@import './width.variable';

/** For Block */

$d-block:block;
$d-inline:inline;
$d-none:none;
$d-grid:grid;
$d-inline-block:inline-block;
$d-inline-grid:inline-grid;
$d-flex:flex;
$d-inline-flex:inline-flex;
$d-table:table;

$d-table-cell: table-cell;
$d-table-column: table-column;
$d-table-column-group: table-column-group ;
$d-table-header-group: table-header-group;
$d-table-row-group: table-row-group;
$d-table-footer-group: table-footer-group;
$d-table-row: table-row;
$d-table-caption: table-caption;
$d-compact:compact;
$d-list-item:list-item;


/*  Vertical Align */
$v-baseline:baseline;
$v-sub:sub;
$v-super:super;
$v-top:top;
$v-text-top:text-top;
$v-middle:middle;
$v-bottom:bottom;
$v-text-bottom:text-bottom;
$v-initial:initial;

/* Align Content  */


$align-stretch:stretch;
$align-center:center;
$align-flex-start:flex-start;
$align-flex-end:flex-end;
$align-space-between:space-between;
$align-space-around:space-around;
$align-initial:initial




