.text-primary,
.primary-color{
  color:$primarycolor;
}
.text-success,
.sucess-color{
  color:$successcolor;
}
.text-info,
.info-color{
  color:$infocolor;
}
.text-warning,
.warning-color{
  color:$warningcolor;
}
.text-default,
.default-color{
  color:$defaultcolor;
}
.text-danger,
.danger-color{
  color:$dangercolor;
}